{% if display == 'list' %}
<div class="layout layout--row">
  <div class="" style="column-count: 2">
    {% for book in books limit: 10 %}
    <div class="item mb--2">
      <div class="meta w--5">
        <span class="label label--small text-stroke">{{ book.rank }}</span>
      </div>
      {% if forloop.index == 1 %}
      <div class="content flex flex--row gap--medium">
        <div class="w--36">
          <img src="{{ book.book_image }}" width="125" class="image image-dither" style="object-fit: cover; filter: grayscale(1) contrast(1.2) brightness(1.1) saturate(0.8);" />
        </div>
        <div class="stretch">
          <div class="title title--medium clamp--3 clamp--nicely">{{ book.title }}</div>
          <div class="label label--small clamp--3 clamp--nicely">by {{ book.author }}</div>
          <div class="stretch">
            <span class="description clamp--4 clamp--nicely">
              {% if book.asterisk != 0 %}*{% endif %}
              {% if book.dagger != 0 %}&dagger;{% endif %}
              {% if book.description != blank %}
              {{ book.description }}
              {% else %}
              Publisher: {{ book.publisher }}
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      {% else %}
      <div class="content flex flex--row gap--medium">
        <div class="stretch">
          <div><span class="label label--small label--underline">{{ book.title }} {{ book.contributor }}</span></div>
          <div class="stretch">
            <span class="description clamp--2 clamp--nicely">
              {% if book.asterisk != 0 %}*{% endif %}
              {% if book.dagger != 0 %}&dagger;{% endif %}
              {% if book.description != blank %}
              {{ book.description }}
              {% else %}
              Publisher: {{ book.publisher }}
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if display == 'covers' %}
<div class="layout layout--row">
  <div class="grid grid--cols-5 gap--medium">
  {% for book in books limit: 10 %}
    <div class="flex flex--column align--middle justify--center text--center" style="position:relative;">
      <img src="{{ book.book_image }}" width="125" class="image image-dither" style="object-fit: cover; filter: grayscale(1) contrast(1.2) brightness(1.1) saturate(0.8);" />
      <div style="position: absolute; bottom: 2px; right: 2px;"><span class="label label--small label--inverted h--5" style="border: solid 2px #ffffff;">#{{ book.rank }}</span></div>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}

<div class="title_bar">
  <img class="image image-stroke" src="data:image/svg+xml;base64,{{ nyt_svg |  base64_encode }}" />
  <span class="title">{{ list }} for {{ list_date | date: '%B %-d, %Y' }}</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
