{% if display == 'list' %}
<div class="layout layout--row">
  <div class="gap--large" style="column-count: 2">
    {% for book in books limit: 10 %}
    <div class="item mb--2 lg:mb--4">
      <div class="meta w--5 lg:w--10">
        <span class="label label--small text-stroke">{{ book.rank }}</span>
      </div>
      {% if forloop.index == 1 %}
      <div class="content flex flex--row gap--medium lg:gap--large">
        <div class="">
          <img src="{{ book.book_image }}" class="image image-dither w--32 lg:w--52" style="object-fit: cover; filter: grayscale(1) contrast(1.2) brightness(1.1) saturate(0.8);" />
        </div>
        <div class="stretch self--center">
          <div>
            <span class="title title--medium lg:title--large" data-clamp="3" data-clamp-lg="6">{{ book.title }}</span>
          </div>
          <div class="mb--2 lg:mb--4">
            <span class="label label--small" data-clamp="2">by {{ book.author }}</span>
          </div>
          <div class="stretch">
            <span class="description description--base lg:description--large" data-clamp="4" data-clamp-lg="8">
              {% if book.asterisk != 0 %}*{% endif %}
              {% if book.dagger != 0 %}&dagger;{% endif %}
              {% if book.description != blank %}
              {{ book.description }}
              {% else %}
              Publisher: {{ book.publisher }}
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      {% else %}
      <div class="content flex flex--row gap--medium lg:gap--large py--1 lg:py--2">
        <div class="stretch">
          <div><span class="label label--small lg:label--base label--underline" data-clamp="1">{{ book.title }} {{ book.contributor }}</span></div>
          <div class="stretch">
            <span class="description description--base lg:description--large" data-clamp="2" data-clamp-lg="4">
              {% if book.asterisk != 0 %}*{% endif %}
              {% if book.dagger != 0 %}&dagger;{% endif %}
              {% if book.description != blank %}
              {{ book.description }}
              {% else %}
              Publisher: {{ book.publisher }}
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if display == 'covers' %}
<div class="layout layout--row">
  <div class="grid grid--cols-5 gap--medium lg:gap--large">
  {% for book in books limit: 10 %}
    <div class="flex flex--column align--middle justify--center text--center" style="position:relative;">
      <img src="{{ book.book_image }}" class="image image-dither w--32 lg:w--64" style="object-fit: cover; filter: grayscale(1) contrast(1.2) brightness(1.1) saturate(0.8);" />
      <div style="position: absolute; bottom: 2px; right: 2px;"><span class="label label--small label--inverted h--5" style="border: solid 2px #ffffff;">#{{ book.rank }}</span></div>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}

<div class="title_bar">
  <img class="image image-stroke" src="data:image/svg+xml;base64,{{ nyt_svg |  base64_encode }}" />
  <span class="title">{{ list }} for {{ list_date | date: '%B %-d, %Y' }}</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
