{% if display == 'list' %}
<div class="layout layout--row">
  <div class="w--full" style="column-count: 1">
    {% for book in books limit: 5 %}
    <div class="item mb--1">
      <div class="meta w--5">
        <span class="label label--small text-stroke">{{ book.rank }}</span>
      </div>
      <div class="content flex flex--row flex--stretch align--middle gap--medium">
        <div class="">
          <div><span class="label label--small label--underline">{{ book.title }}</span></div>
          <div>
            <span class="description">
              {{ book.contributor }}
              {% if book.asterisk != 0 %}*{% endif %}
              {% if book.dagger != 0 %}&dagger;{% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if display == 'covers' %}
<div class="layout layout--row">
  <div class="grid grid--cols-3 gap--medium">
  {% for book in books limit: 3 %}
    <div class="flex flex--column align--middle justify--center">
      <img src="{{ book.book_image }}" width="125" class="image image-dither" style="object-fit: cover; filter: grayscale(1) contrast(1.2) brightness(1.1) saturate(0.8);" />
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}

<div class="title_bar">
  <img class="image image-stroke" src="data:image/svg+xml;base64,{{ nyt_svg |  base64_encode }}" />
  <span class="title">{{ list }} for {{ list_date | date: '%B %-d, %Y' }}</span>
</div>
